
    * {box-sizing: border-box;}

body { 
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #1c1c7f;
  padding: 20px 10px;
  font-family: 'Teko', sans-serif;

}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Teko', sans-serif;
}

.header a.logo {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
}

.header a:hover {
  background-color: #1c1c7f;
  color: black;
}

.header a.active {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
  
h1 {
    margin: 0; 
}

h1 a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set link text color */
}   

nav ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add some space between list items */
}
nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set link text color */
    
}


.beholder {
    position: relative !important;
}
.mascotbilde {
    height: 250px;
    width: 100%;
}

.tittel {
    font-family: 'Teko', sans-serif;
    font-size:x-large;
    color: #ffffff00;
    letter-spacing: 2px;
    padding: left 10px;
}

.container {
    display: flex;
    margin-bottom: 20px;
}

.image-wrapper {
    display: flex-start;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding-right: 40px;

}

h2 {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    text-align:left;
}

.image-container {
    display: flex-start;
    flex-direction:row;
    margin-right:10px;
    font-size:larger;
    line-height: 1.5;
    
}

.image {
    width: 200px;
    float:left;
    padding-right:20px;
    padding-left:20px;
}

.image-hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

p {
    margin: 0;
}

.footer {
    background-color: #1c1c7f;
    text-align: center;
    padding: 10px;
  }
