
header {
    background-color: #1c1c7f; /* Set your desired background color */
    color: #fff; /* Set the text color */
    font-size:large;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    height: 75px;
    width: 95%;
    padding-left: 5%;
}

h1 {
    margin: 0; 
}

nav ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add some space between list items */
}
nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set link text color */
}
.beholder {
    position: relative !important;
}
.mascotbilde {
    height: 300px;
    width: 100%;
}

.tittel {
    font-family: 'Teko', sans-serif;
    font-size:x-large;
    color: #ffffff00;
    letter-spacing: 2px;
    padding: left 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image {
    width: 200px; /* width of the image */
    margin-right: 10px; /* Add space between the image and text */
}

p {
    flex: 1; /* This makes the text fill the remaining space beside the image */
}
.custom-text {
    font-family: 'Teko', sans-serif;
    font-size: larger; 
    color: #333; 
}

h2 {
    font-size: 24px; /* Adjust the font size for the title */
    font-weight: bold; /* Add bold style to the title if needed */
    margin-bottom: 10px; /* Add space between the title and the image/text */
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}